<IfModule mod_rewrite.c>
RewriteEngine On

##########################################
# Redirect requests to public folder     #
##########################################
RewriteCond     ${REQUEST_URI}                      !/public
RewriteRule    ^(/)?$ 	public                   [L]
</IfModule>
SetEnv APPLICATION_ENV development

