/* captions search */
#captions_tab #search_within { padding-top: 0px; padding-left: 0px; }
#captions_search_Results { float: right; width: 670px; }
.captions_results {float: right; width: 635px; position: relative;}
#kgallery .captions_results { width: 685px; }
.widelayout #kgallery .captions_results { width: 830px; }
#kitems.captions .item a .item_preview img {width: 110px; height: 60px;}
#kitems.captions > li > a { margin: 10px; width: 250px; height: 65px; overflow: hidden;}
#kitems.captions > li > a .item_preview {margin: 0 7px 0 0 ;}
#kitems.captions li ul li .duration { background: none repeat scroll 0 0 #FFF600;color: #222222;}
#kgallery #kitems.captions li .duration { top: auto; right: 2px; bottom: 2px; }
.captions_results li {border-top: 1px solid #cccccc; float: left; width: 100%;}
.captions_results li:hover {background: #ffffff;}
.captions_results li > a.item_link, #captions_search_Results li > a.item_link {position: relative; display: block; padding: 10px 0; float: left;  width: 100%;} 
#mymedia #kitems li .captions_results li .item_preview, #kitems li .captions_results li .item_preview {margin: 0 10px 0 0;}
.captions_results li .item_preview, #captions_search_Results #kitems li {float: left;}
#kitems li.active  .duration, #kitems li.active  .icon  {display: none;}
.caption-text { color: #333333; display: block; font-style: italic; }
#captions_search_Results .caption-text { width: 670px; }
#kgallery #kitems .operate { float: left; width: 100% }
#kgallery #kitems .item { float: left; padding-bottom: 10px; cursor: pointer; width: 100% }
#kgallery #kitems .item .item_content {	float: left; display: block; position: relative; margin-left: 7px; line-height: 16px; overflow: hidden; word-wrap: break-word; }

.zebra-striped  li { cursor: pointer; border-bottom: 1px solid #DDDDDD;}
.zebra-striped  ul li:nth-child(2n+1) { background: none repeat scroll 0 0 #F5F5F5; }
.zebra-striped  #kitems > li:hover { background: none repeat scroll 0 0 #D8EAEF; }
.zebra-striped  li:hover { background: none repeat scroll 0 0 #D8EAEF; }

/* captions edit tab */
.entry_edit_tab { padding: 16px; }

#entry_captions { min-height: 318px; }

#entry_captions h3 { color: #444444; font-size: 16px; font-weight: bold; padding-bottom: 10px; }
#entry_captions .btn#upload {line-height: 24px;}

#entry_captions #empty { text-align: center; color: #888888; font-style: italic; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; margin-top: 16px; padding: 20px; }
#entry_captions #empty h4 { font-size: 16px;  margin-bottom: 10px; }
#entry_captions #empty div { font-size: 14px; }

#entry_captions #captions_header {border-bottom: 1px solid #848484; line-height: 22px;}
#entry_captions #captions {margin-bottom: 42px;}
#entry_captions .caption {border-bottom: 1px solid #cccccc; line-height: 48px; font-size: 14px; }
#entry_captions .caption div.language, #entry_captions .caption div.label{ overflow: hidden; text-overflow: ellipsis; }

#entry_captions .column { float: left; padding-left: 110px; }
#entry_captions .column.first { padding-left: 22px;}
#entry_captions .column.language { width: 130px;}
#entry_captions .column.label { width: 150px; text-overflow: ellipsis;}
#entry_captions .column.change { width: 50px; padding-left: 0px; padding-right: 80px; font-size: 11px; font-style: italic;}
#entry_captions .column.file { width: 50px; padding-left: 0px;}
#entry_captions #captions .column.file { font-size: 12px; font-style: italic; text-align: center; }
#entry_captions .column.info { font-size: 11px; margin-left: 5px; font-style: italic; font-weight: bold; padding-left: 80px;}
#entry_captions .column.info ul{ line-height: 12px; margin-top: 5px; margin-bottom: 5px; font-style: normal; font-weight: normal; }

#entry_captions #captions .column { height: 48px;}

#entry_captions #captions div.caption:hover { background: none repeat scroll 0 0 #DAD9DA; }
#entry_captions #captions div.caption:hover div.column .default{ display: none;}
#entry_captions #captions div.caption div.column .links{ display: none;}
#entry_captions #captions div.caption:hover div.column .links{ display: block;}


/* upload caption dialog */
#upload_caption {padding: 0 15px; }
#upload_caption  .buttons {text-align: center;}
#upload_caption .buttons a.btn {display: inline; padding: 8px 14px;}
#upload_caption  .cancel {font-size: 14px; color: #888888; margin: 0 20px; text-decoration: underline; cursor: pointer; }
#upload_caption #uploadCaption div.lang {margin-top: 20px; margin-bottom: 20px; width: 300px; float: left;}

#uploadCaption { margin-top: 20px; }
#uploadCaption select {width: 164px; padding: 3px;}
#uploadCaption input#Upload-label { width: 159px;}
#upload_caption #uploadCaption div.uploadbox { display: inline-block;}
#upload_caption #uploadCaption div.uploadbox .fileSelection { width: 80px;}
#upload_caption #uploadCaption div.uploadbox .changeCaptionFile { width: 120px; text-overflow: ellipsis; overflow: hidden; height: 20px; }
#upload_caption #uploadCaption div.uploadbox div.uploadbutton { float: right;}
#upload_caption #uploadCaption div.uploadbox div.uploadbutton span {margin: none;}
#upload_caption #uploadCaption div.uploadbox div.uploadbutton .change {color: #0F74C9; text-decoration: underline; font-style: italic; font-size: 12px; font-weight: normal; text-align: right; padding: 0; line-height: 24px;}
#upload_caption div.uploadbutton.loaded { border: none;}
#upload_caption div.uploadbutton.loaded span.text, div.uploadbutton.loaded span { border: none; background: none; text-shadow: none; padding: none; }
#upload_caption .uploadbox.ready div.uploadbutton.loaded:hover { border: none ; box-shadow: 0 0 0 0;-moz-box-shadow: 0 0 0 0; -webkit-box-shadow: 0 0 0 0; }
#upload_caption .uploadbutton.loaded , #upload_caption .uploadbutton.loaded span { border-radius : 0; }

#upload_caption #uploadCaption div.uploadbox div.uploadbutton:hover .change { color: 3fc0f0; }
#upload_caption .uploadbox.ready div.uploadbutton.loaded:hover span { color: 3fc0f0; }

#upload_caption div.uploadbox { background: none; border-top: none; border-bottom: none; }
#upload_caption label{ float: left; color: #555555; font-size: 16px; width: 120px; }

#upload_caption #uploadCaption div#changeCaptionFile {float: left; }
#upload_caption p { color: #888888; font-size: 11px; width: 120px;}
#changeCaptionFile { display: inline; float: none; font-style: italic; }
#changeCaptionFile .fileName { font-size: 14px; color: #888888;  display: block; text-overflow:ellipsis; overflow: hidden; height: 18px; width: 100px;}
#changeCaptionFile a { color: #0F74C9; text-decoration: underline; float: right; }

#upload_caption .uploadbox div.uploadbutton,  #upload_caption div.uploadbutton object { height: 28px; }
#upload_caption div.uploadbutton span.text, div.uploadbutton span {line-height:39px; padding: 0 16px; font-weight: bold;}
#upload_caption div.uploadbutton span.text, #upload_caption div.uploadbutton span.loader {line-height: 28px; height: 28px;}


/*captions Progress bar customization*/
#upload_caption .progressbar.ui-progressbar .ui-progressbar-value { background: url(../../img/preloader.gif) 50% 50% repeat-x; text-align: right; color: #222222; font-weight: normal; border-radius: 3px; border: none; margin: 0; }
#upload_caption .progressbar.ui-progressbar .ui-progressbar-value > span, .progressbar.ui-progressbar .ui-progressbar-value a {text-align: right; padding-right: 10px; font-size: 22px; line-height: 25px; color: #FFF;}
#upload_caption .progressbar.complete .ui-progressbar-value {background: url(../../img/ksprite.png) 0 -364px repeat-x;}
#upload_caption .progressbar.error .ui-progressbar-value {background: url(../../img/ksprite.png) 0 -392px repeat-x; height: 28px;}
#upload_caption .progressbar.ui-progressbar { position: relative; text-align: left; color: #FFF; height: 28px; background: #000; border: none; width: 100%; margin: 0px auto; -moz-box-shadow: 0px 1px 2px #555;  -webkit-box-shadow: 0px 1px 2px  #555;  box-shadow: 0px 1px 2px #555;}
#upload_caption .progressbar.ui-progressbar > span {position: absolute;width:435px;text-align: center; font-size: 14px; line-height: 30px; }
#upload_caption .progressbar.ui-progressbar .cancel_upload {position: absolute; cursor: pointer; width:19px; height:19px; right: -29px; top: 4px; background: url(../../img/ksprite.png) no-repeat -281px -320px;}
#upload_caption .progressbar.ui-progressbar >span > a {font-weight: bold;color: #FFF}
#upload_caption .progressbar.ui-progressbar >span > a:hover {text-decoration: underline}
/*end captions progress bar customization*/

#changeCaption input, #changeCaption select{ width: 130px; }
#changeCaption .column.submit { padding-left: 6px; padding-right: 15px; }
#changeCaption #Change-submit { width: auto; display: inline;}
#changeCaption ul.errors li {font-size: 11px; background: none; padding-left: 0px;}

/* global captions search results*/
#kgallery #kitems.captions > li { line-height: normal; height: auto; width: 100%; font-size: 100%; }
#kgallery.wrapper { width: 100%; }
#kgallery #kitems.captions > li.title:first-child .separator {margin-top: 0;}
#kgallery #kitems.captions > li.title .separator { border-top: 4px solid #444444; margin-top: 13px; height: 0px;}
#kgallery #kitems.captions > li.title { height: auto; background: #fff; }
#kgallery #kitems.captions > li.title h3 { font-size: 18px; line-height: 34px; font-weight: bold; color: #444444; padding: 0px 10px;}



#kgallery #kitems a > li {width: 270px; height: 86px; position: relative; display: block; overflow: hidden; font-size: 11px;line-height: 12px;border-bottom: 2px solid #ffffff;}
#kgallery #kitems a > li:last-child {border:none;}
#kitems a > li a.item_link {position: absolute; display: inline-block; width: 100%; height: 100%}
#kitems a > li:hover a.item_link .item_name {color: #3fc0f0;}
#kitems a > li:hover a.active.item_link .item_name, #kitems > li.active:hover .item_link .item_name {color: #444;}
#kitems a  > li a.nickname:hover {color: #3fc0f0;}
#kitems a > li a.active, #kitems > li:hover a.active  {background: #dddddd;}
#kitems a > li.active a, #kitems > li.active:hover a  {background: #dddddd;}
#kitems a > li:hover {background: #fff;}
#kitems a > li:hover .icon {background-color: #3FC0F0;}
#kitems li .item_preview > img { padding: 2px; }


/* my media caption search results*/
#mymedia #kitems a > li:hover, #mymedia #kitems > li.selected {background-color: #FAFAFA;}
#mymedia #kitems a > li.no_itemas:hover{background-color: #FFF }
#mm_wrap #kitems a > li .actionLinks {position: absolute; right: 10px; bottom: 15px; list-style-type: none; display: none; font-weight: bold}
.ios #mymedia #kitems a > li .actionLinks {display: block;}
#mymedia #kitems a > li:hover .actionLinks {display: block;}
#mymedia #kitems a > li .actionLinks li {float: right;}
#mymedia #kitems a > li {border-top: 1px solid #aaaaaa; border-bottom: none;}
#content #mymedia #kitems a > li  {width: 630px; clear: both; float: left; position: relative; margin-left: 170px;}

#mymedia #kitems.captions > li {border-top: 1px solid #aaaaaa; border-bottom: none; padding-bottom: 10px;}
#mymedia #kitems.captions a.nickname, #kgallery #kitems.captions a.nickname { float: none; display: inline;}
#mymedia #kitems.captions .item_preview, #kgallery #kitems .operate .item_preview {margin: 7px;}
#mymedia #kitems.captions #entry_tags li {margin: 0 8px 0 0; padding: 0 5px;}
#mymedia #kitems .item a img, #kgallery #kitems .item a img {border: none;}
#kgallery #kitems .item a { float: left; display: block; position: relative; }
#mymedia #kitems li .item, #kgallery #kitems li .item, #kgallery #kitems .operate .item_preview, #mymedia #kitems .item_link li .item_preview { margin-left: 0px; }
#mymedia #kitems.captions .item .item_content .short_desc {line-height: inherit; font-size: inherit;}
#mymedia #kitems a > li .duration {background: #fff600; color: #000; }
#mymedia #kitems.captions li:hover .captions_results .item_preview .thumb_frame {border: 2px solid #0087FF;}
#mymedia #kitems.captions li:hover .captions_results li .icon {background-color: #0087FF;}
#mymedia #kitems.captions li:hover .captions_results li:hover .item_preview .thumb_frame {border: 2px solid #3fc0f0;}
#mymedia #kitems.captions li:hover .captions_results li:hover .icon {background-color: #3fc0f0;}

#kgallery #kitems.captions li.active a .item_preview .icon { display: block; }
#kgallery #kitems.captions li.active a .duration { display: block;}
#kgallery #kitems.captions li:hover .operate .item_preview .thumb_frame {border: 2px solid #3fc0f0;width: 110px; height: 60px;}
#kgallery #kitems.captions li:hover .operate .item_preview .icon {background-color: #3fc0f0;}
#kgallery #kitems.captions li:hover .captions_results .item_preview .thumb_frame {border: 2px solid #0087FF;}
#kgallery #kitems.captions li:hover .captions_results li:hover .item_preview .thumb_frame {border: 2px solid #3fc0f0;}
#kgallery #kitems.captions li:hover .captions_results li .icon {background-color: #0087FF;}
#kgallery #kitems.captions li:hover .captions_results li:hover .icon {background-color: #3fc0f0;}
#kitems.captions > li.active a, #kitems.captions > li.active:hover a { background: none;}
#kitems.captions > li.active a { font-weight: normal; }

/* captions gallery search */
#captions_search_within {width: 210px; padding: 0 24px 12px 10px; float: left;}
#search_within_captions, #do_search_within_captions {float: left; border: 1px solid #b0b0b0;-moz-border-radius: 0;
					-webkit-border-radius: 0;
					border-radius: 0;}
#search_within_captions {height: 29px; width: 165px;padding: 0px 10px; font-size: 16px; line-height: 26px; color: #bababa; font-style: italic;}
#search_within_captions.focus {font-style: normal; color: #444}
#search_within_captions.keyword {width: 141px}
#do_search_within_captions {outline: none; height: 31px; width:23px; padding:0; border-left: none; float:right; text-indent:-9999px; background: url(../../img/ksprite.png) no-repeat -170px -78px; filter: none; cursor: pointer;} /*#margin-top:-23px; #height:22px;#width:24px; */
#do_search_within_captions:hover {background-position: -193px -78px;}

#captions_search_within button {-mox-border-radius: none; -webkit-border-radius: none; border-radius: 0px;}

#captions_gallery_filter_bar #sorter a {cursor: pointer;}
#captions_gallery_filter_bar #sorter a.active_sort {color: #333;}

#kgallery #kitems > li:hover { background-color: #FAFAFA; }
#kgallery #kitems li.active .item_preview .thumb_frame { border: 2px solid #0087FF; width: 110px; height: 60px; }

#captions_tab select { height: 26px; max-width: 158px; width: 150px; padding: 2px 4px; }