/*
 * All Code Confidential and Proprietary, Copyright ©2011 Kaltura, Inc.
 * To learn more: http://corp.kaltura.com/Products/Video-Applications/Kaltura-Mediaspace-Video-Portal
*/


/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

html, body { height:100%;}
html * { margin:0; padding:0;}
body { background:#fff; font: normal 12px arial,sans-serif; color:#666;}

h1 {line-height: 28px;padding:24px 0 12px 24px;border-bottom:1px solid #a1a1a1;margin-bottom: 12px;}

#header {background: #666666;border-bottom:1px solid #333;}
#header h2 {color: #ffffff; padding: 16px;}
div#kwrap {border-top: 1px solid #fff; background: #fefefe; }
div.kwrap { margin: 0 auto; min-height: 400px; position: relative; width: 960px; }


#view-content { width: 920px; margin: 0 auto; padding:5px; }
.icon {width:20px;height:20px;background: url(../img/installSprite.png);display: block;float:left;margin-right: 12px;}
.passed .icon {background-position: 0 -60px}
.failed .icon {background-position: 0 0}
.requirements-status {line-height: 20px;font-weight: 700;font-size: 12px;padding:4px; margin-bottom: 8px; }
div.requirements-status.passed { background-color: #f4ffe5; border: 2px solid #245c02; color: #245c02;}
div.requirements-status.failed { background-color: #ffd7d7; border: 2px solid #ff3333; color: #ff3333;}

.donesuccess {color: #245c02;font-weight: 700;}

#krequirements {clear: both; border-bottom: 1px solid #a1a1a1;line-height: 20px;}
#krequirements .requirement-failed, #krequirements .requirement-passed, #krequirements .requirement-recommended { padding: 8px 0;clear: both; border-bottom: 1px solid #e1e1e1;}   
#krequirements td.description, #krequirements td.description{ width: 800px; }

.status {float: right;font-style: italic;font-weight: bold;}
.description {width: 780px;float: left; display: block;}
#krequirements .requirement-failed .status {color: #ff3333} 
#krequirements .requirement-passed .status {color: #245c02;}
#krequirements .requirement-recommended .status {color: #ff6000;}
#krequirements .requirement-failed .status .icon {background-position: 0 -40px;}
#krequirements .requirement-passed .status .icon {background-position: 0 -20px;}
#krequirements .requirement-recommended .status .icon {background-position: 0 -20px;}

#choose-next {border-top:1px solid #fff; }
#choose-next .buttons {padding: 12px 0;}
.explain {margin:10px 0;}
form {width: 660px;}
form .element, form dd {padding: 8px;}
form label, form dt {padding:4px; display: block; float: left; width: 160px;line-height:20px;font-weight: 700;}
form input {padding:4px;border: 1px solid #a1a1a1; width: 200px;}
form .element {margin: 5px; clear: both;}
form .element.error > label {color: #ff3333}
form .element.error > input {border-color: #ff3333}
form ul.errors {margin-left: 20px; float: right;line-height: 20px;list-style-type: none;}
form .errors li, #deployment-errors div{padding-left: 20px; text-indent: 12px;color: #ff3333;background: url(../img/installSprite.png) no-repeat 0 -40px;}

.steps {list-style: disc inside;float: right;margin: 0 16px;}
.steps li {float: left;padding: 8px 0 8px 5px;}
.steps li.passed {color: #245c02;font-weight: 700; font-style: italic;}
.steps li.active {list-style-type: circle; font-weight: 700; color: #269BFF;}

.button, button, input[type=submit] {text-decoration: none; clear: both;font-weight: bold;text-shadow:0 1px 1px #fff;-moz-text-shadow:0 1px 1px #fff;-webkit-text-shadow:0 1px 1px #fff; padding: 4px 12px;margin: 15px 0;width: auto;color:#666;background: #e8e8e8; border: 1px solid #a1a1a1;}
.button:hover, button:hover, input[type=submit]:hover {background: #efefef; border-color: #666;color: #666;text-decoration: none;}
.button:disabled, button:disabled {background: #efefef; border-color: #999;color: #999;}

input, textarea, button, .button {-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
p {padding:5px 0;}
a {color: #269BFF;text-decoration: none;}
a:hover {color: #269BFF; text-decoration: underline;}

#deployment-errors {border-top: 1px solid #a1a1a1;padding:8px;}
#deployment-errors > div  {line-height: 20px;margin:8px 0;}

.loader {position: fixed; top: 140px; left: 0; width: 100%; height: 100%; background: #FFFFFF;display: none; color: #269BFF;font-weight: bold;}
.loader_message {border: 1px solid #e1e1e1; background: #f2f2f2; -moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;padding: 12px;width: 240px;text-align: center;margin: 16px auto;-moz-box-shadow: 0 1px 2px #e1e1e1;-webkit-box-shadow: 1px 2px 2px #e1e1e1;box-shadow: 0 1px 2px #e1e1e1;}

#migration_errors {padding:8px; color: #ff3333; }
